{% extends 'users/userbase.html'%}
{%block contents%}

 <section id="intro">

    <div class="intro-text">
        <div class="container">
           <p><h4 align="center">Welcome To User HomePage.....</h4></p>
           <a href="#" class="btn-get-started scrollto">The Hidden Layer is the main and the most significant part of the program. The whole analysis and predictions performed with the LTMS algorithm, and RMSE equation are in this layer. when the calculating process finished, an Excel file including prices, and dates is sent to the email that the user had entered in Shell Layer. It makes the hidden layer more efficient and improved. In the attention layer, the final calculated data received from the hidden layer is analyzed. The approach is performed by analyzing input data in the attention layer, the model, and the program can observe and learn the input data. The higher weights of data observed by the model training, the closer result is for the target value. As a result, the Price of the future date is predicted. Depending on performed experiments, and the weights of analyzed data, it predicts with a high accuracy.</a>
        </div>
    </div>
  </section>
{%endblock%}