{% extends 'admins/adminbase.html'%}
{%block contents%}
<!--<style>-->
<!--    .bg-light{-->
<!--    margin-top: -500px;-->
<!--    background: #65cd00;-->
<!--    padding:10px;-->
<!--    }-->

<!--</style>-->

 <section id="intro">

    <div class="intro-text">
      <div class="container">

       <p><h4 align="center">Welcome to Admin Homepage</h4></p>
         <!--<a href="#about" class="btn-get-started scrollto">Get Started</a>-->
        <p>This program proposes an attention-based short-term and memory model to predict the International Stock Price trend and all system runs on Python. The model consists of five layers: Shell Layer, Input Layer, Hidden Layer, Attention Layer and Output Layer. The shell layer authenticates the user. The input layer reads the input data that meet the input requirements. The hidden layer is correlated to the linear network thorough the LSTM unit. The attention layer prepares future amounts based on the predictions that are performed in the hidden layer. The output layer receives the final measured results to show for the user.</p>
      </div>
   </div>
  </section>
{%endblock%}