{%extends 'base.html'%}
{%load static%}
{% block title %}
Home Page
{% endblock %}
{%block contents%}

<!--<div class="container" style="margin-top:-60px;">-->
    <h4 align="center">NEURAL NETWORKS</h4>
    <div class="container">
    <p>
    Our program is run under Python. That operates a wide
range of applications such as business, scientific and numeric
and educational applications, software, web and internet
development, and desktop graphical user interfaces (GUIs).
Keras is a Neural Network library written and developed in
Python. It is qualified to superordinate Tensor Flow and
designed to operate fast trial with artificial, and Deep Neural
Networks. SKlearn is a machine learning library for Python
programming. It accentuates prismatic classification,
regression, and constellated algorithms including vector
machine support, and database scan, and designed to sync, and
perform with the Python numerical-scientific libraries for
instance, NumPy.
    </p>
    </div>
</div>
{%endblock%}